<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
	  <!--<link type="text/css" href="/css/ui-darkness/jquery-ui-1.8.11.custom.css" rel="stylesheet" /> -->
	  <style type="text/css" media="screen">
			body { font-family: helvetica, arial, sans-serif; font-size: 16px; position: relative; }
	  </style>
		<script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.11.custom.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			function Client(clientName, view) {
				var client = this;
				this.view = $(view || '#body');
				this.clientName = clientName;
				this.loading = function() { this.template("Loading..."); }
				this.template = function(body) { this.view.html(body); }

				this.ws = new WebSocket('ws://' + window.location.host + '/client/' + clientName + '/connection');
				this.ws.onopen = function() { client.template("Connected. Loading..."); }
				this.ws.onclose = function() { new Client(clientName); }
				this.ws.onmessage = function(evt) { 
					var data = JSON.parse(evt.data);
					console.log("Got message: ", data);
					if (data.action == "play") client.template(data.template);
					else if (data.action == "stop") client.loading();
				}
				this.template("Connecting...");
			}
			
			$(function() {
				new Client("<%= params['name'] %>", "#body");
			});
		</script>
		<title>Client Screen <%= params['name'] %></title>
	</head>
	<body>
		<div id="body"></div>
  </body>
</html>
